.navbar {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.navbarBasicExample {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    color: white;
    font-size: 2rem;
}